
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/Menu.cshtml";
}

<div class="page-wrapper" style="min-height: 376px;">
	<div class="content container-fluid">

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<div class="error-box">
			<h1>403</h1>
			<h3 class="h2 mb-3"><i class="fas fa-exclamation-triangle"></i> Oops! Access Denied!</h3>
			<p class="h4 font-weight-normal"> You do not have permission to view this page.</p>
			
		</div>

	</div>
	
	<div class="sidebar-overlay"></div>
	</div>
</div>


